name: "Publish docker container"
on:
  push:
    branches:
      - master
  release:
    types:
      - created


jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Check out code
      uses: actions/checkout@v1

    - name: Publish Docker
      uses: elgohr/Publish-Docker-Github-Action@2.8
      with:
        name: ${{ github.repository }} 
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        tag_names: true
